<div class="card">
    <h5 class="card-header">User Details</h5>
    <div class="card-body">
        <h5 class="card-title">Details of {{userdetail.name}}</h5>
        <table class="table" style="text-align:left;">
            <tr>
                <td>name</td>
                <td>{{userdetail.name}}</td>
            </tr>
            <tr>

                <td>User Name</td>
                <td>{{userdetail.username}}</td>
            </tr>

            <tr>
                <td>Email</td>
                <td>{{userdetail.email}}</td>
            </tr>
            <tr>
                <td>Contact No</td>
                <td>{{userdetail.phone}}</td>
            </tr>
            
        </table>
    </div>
</div>